__pycache__/
*.py[cod]

*.so

.DS_Store

.env
.build/
dist/
build/
*.egg-info/
*.egg

venv/
env/
ENV/

.vscode/
.idea/

*.log
*.pot
*.po
*.mo
*.bak
*.swp
*.sql
*.sqlite

__pycache__/
.pytest_cache/
.claude/settings.local.json

k3s/secrets/* 

frontend-react/.env.development
frontend-react/.env.production

graphify-out/

docs*