# requiremenrs.txt

fastapi==0.115.6
starlette==0.41.3
uvicorn[standard]
sqlalchemy
pydantic
pymysql
alembic
python-dotenv
requests 
oauthlib 
starlette-authlib
google-auth
itsdangerous
openai
logging